@font-face {
    font-family: "Samarkan";
    src: local("Samarkan"),
        url("./fonts/SamarkanOblique-BXew.ttf") format("truetype");

}
.font-face-sk {
    font-family: "Samarkan";
    
}
@font-face {
    font-family: "Nusar";
    src: local("Nusar"),
        url("./fonts/NUSAR.ttf") format("truetype");

}
.font-face-nu {
    font-family: "Nusar";
    
   }
   